p {font-family:'Times New Roman',' verdana', ' sans-serif', font-size: 12pt;color:#000000 pading 5px 15px;}

h1 {font-family:'Times New Roman',' verdana', ' sans-serif'; font-size: 20px;color:#00000;  text-align:center;}

body {background-image:url('slike/cover/main.jpg');   position:relative;}

.okvir{width:80%; height:auto; margin:auto;background-color:#FFFFFF; padding: 0px 9px 0px 20px; background-repeat:no-repeat; position:relative;}

.header{width:auto; height:auto;border-bottom:solid; background-image:url('slike/header/header 1.png'); background-repeat:no-repeat;  position:relative;}

.logo{width:auto; height:auto; background-repeat:no-repeat; position:relative;}

.meni{width:auto; height:auto; border-bottom:outset;text-align:center; padding:15px 0px ;background-repeat:no-repeat; position:relative; }

.sredina{width:auto; height:auto;padding:10px 20px 20px 10px; overflow:no-content; background-repeat:no-repeat; position:relative; }

.social{width:auto; height:auto; padding:130px;background-repeat:no-repeat; position:relative; }

.futer{width:auto; height:auto;background-image:url('slike/footer/footer.png');background-repeat:no-repeat; position:relative;}

.sl {float:right; padding: 10px 20px 5px 10px}

.c1{ float:left;font-size:20px; padding-top:110px; padding-left:210px ;}

#lista li{display:inline; text-decoration:none; }/*meni linkovi*/

#link a {padding:10px 40px; } /*meni linkovi*/

#li {display:inline;padding:13px 1px 3px 25px; text-decoration:none; float:right;  }/*social lnkovi*/

a:link {color:#000000;  text-decoration:none; padding:50 px}      /* unvisited link */
a:active {color:#FFFF00; text-decoration:none;}  /* selected link */
a:visited {color:pulpure; text-decoration:none;}  /* visited link */
a:hover {color:#0000FF; text-decoration:underline; border:outset;}  /* mouse over link */
